<div class = "box" >

<h1> STOCK: <%= @stock %></h1>

<h2> AVG: <%= @average %></h2>
<h2> HIGH: <%= @highest %></h2>
<h2> LOW: <%= @lowest %></h2>

	<ul>
		<% @quotes.each do |quote| %>
		<li><%=	 quote %></li>
		<% end %> 
	</ul>

</div>