<% @movies.each do |movie| %>
	
	<div class = "box" >
		<ul>
			<img src="<%= movie["Poster"] %>">
			<li><%=	 movie['Title'] %></li>
			<li><%=	 movie['Actors'] %></li>
			<li><%=	 movie['Year'] %></li>
			<li><%=	 movie['Rated'] %></li>
			<li><%=	 movie['Genre'] %></li>
			<li><%=	 movie['Runtime'] %></li>
		</ul>
	</div>
<% end %>


